@font-face {
    font-family: "Gotham Pro";
    src: url("@/assets/fonts/gothampro.woff2") format("woff2"),
        url("@/assets/fonts/gothampro.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
