:root {
    --default-body: #353638;
    --default-fz: 22px;
    --default-lh: 0.9;
    --default-color-fz: #9E9E9E;
    --default-fw: 400;
    --grey: #696969;
    --color: #9E9E9E;
    --width-timer: 225px;
    --height-timer: 120px;
    --padding: 19px;
    --grid-padding: 10px;
}